<%
// The page object will always contain all of the information needed to display the page

// The generator contains usefull functions for generating HTML markup quickly
var gen = page.generator;
// Node is an object that describes the scripture/book/folder content to display
var node = page.node;
var language = page.settings.language;
%>
<div class="toolbar">
	<div class="previous"><%= gen.a(node && node.previous, "previous") %></div>
	<div class="up-level"><%= gen.a(node && node.parent, "up_level") %></div>
	<div class="heiarchy">
		<%= gen.ul(node && node.heiarchy, gen.a) %>
	</div>
	<div class="languages">
		<%= gen.select(page.languages, function(lang) {
			var displayName = (language != 1 || lang.eng_name == lang.name || lang.name.endsWith("(" + lang.eng_name + ")"))
				? lang.name : lang.name + " - " + lang.eng_name;
			return displayName;
		}) %>
	</div>
	<div class="lds-org">
		<a href="https://lds.org<%= node && node.path %>">LDS.org</a>
	</div>
	<div class="settings">
		<a href="options.html">Settings</a>
	</div>
	<div class="next"><%= gen.a(node && node.next, "next") %></div>
</div>
<% if (page.loading) { %>
<div class="loading">
	<div>
		<%= page.loading %>
	</div>
</div>
<% } %>
<div class="page-content">
	<ul class="children">
		<%= gen.li(node && node.children, function(node) {
			var content = '', downloaded = true;
			if (node.type == 'node' && node.details.content) {
				var length = 400;
				content = node.details.content;
				content = content.replace(/\<h1.+\<\/h1\>/ig, ''); // Remove h1
				content = content.replace(/class="titleNumber"\>.*[0-9]+\<\/p\>/ig, '></p>'); // Remove Chapter number
				content = content.replace(/(<([^>]+)>)/ig, ''); // Remove all HTML tags
				content = content.length > length ? content.substring(0, length) : content;
				content = '<p>' + content + '</p>';
			} else if (node.details && node.details.icon) {
				content = '<div><i data-icon="' + node.details.icon + '"></i></div>'
			} else if (node.details && node.details.image) {
				content = '<img src="'+ node.details.image + '" />';
			}
			if (node.type == 'book') {
				downloaded = !!node.details.downloadedVersion;
			}

			return '<a data-type="' + node.type + '" data-id="' + node.id + '" data-downloaded="' + downloaded + '" href="' + gen.href(node) + '">'
				+ '<h3>' + node.name + '</h3>'
				+ content
				+ '</a>'
		}) %>
	</ul>
	<div class="content">
		<%= node && node.details ? node.details.content : '' %>
	</div>
</div>
<div id="references" class="references">
	<div class="references-bar">
		<a class="references-close" href>Close</a>
	</div>
	<%= node && node.details ? node.details.references : '' %>
</div>
